<launch>
	<arg name="z"    	value="195.1345689"  />
	<arg name="pitch"    value="-29.0963156" />	
	<arg name="yaw"         value="27.5006214"  />
	<arg name="useVicon" value="true"/>


	<!-- launch farnn network broadcaster -->
	<!-- <node pkg="farnn" type="sample.sh" name="farnn" output="screen"/> -->
	
	<!-- then launch nn_controller -->
	<group if="$(arg useVicon)" >
		<include file="$(find vicon_icp)/launch/vicon_icp.launch" />

		<node pkg="nn_controller" type="nn_controller" name="nn_controller" output="screen" args="$(arg z) $(arg pitch)" respawn="false"></node>
	</group>

</launch>